In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
file_path = "data/zhvi_data.csv"
home_values_df=pd.read_csv(file_path)

home_values_df.head()

,RegionName,RegionType,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2017-01-31,2017-02-28,2017-03-31,2017-04-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,Los Angeles County,County,CA,Los Angeles-Long Beach-Anaheim,6,37,567167.0,570020.0,573344.0,575480.0,...,659773.0,664580.0,666444.0,667704.0,672758.0,680207.0,688570.0,695441.0,702046.0,708045.0
1,Cook County,County,IL,Chicago-Naperville-Elgin,17,31,235165.0,235814.0,237493.0,238830.0,...,253684.0,254076.0,254595.0,255333.0,256710.0,258486.0,261016.0,263754.0,266201.0,268475.0
2,Harris County,County,TX,Houston-The Woodlands-Sugar Land,48,201,177989.0,178366.0,178869.0,179782.0,...,199807.0,200940.0,201912.0,202637.0,203555.0,204670.0,206514.0,208295.0,210494.0,212658.0
3,Maricopa County,County,AZ,Phoenix-Mesa-Scottsdale,4,13,242028.0,243189.0,244568.0,245814.0,...,299209.0,302766.0,305996.0,309005.0,311980.0,315932.0,320662.0,325809.0,331342.0,337118.0
4,San Diego County,County,CA,San Diego-Carlsbad,6,73,528758.0,531624.0,536251.0,542424.0,...,615413.0,618539.0,622620.0,625616.0,629734.0,636244.0,645855.0,656702.0,667613.0,678665.0

In [12]:
year_list=list(home_values_df.columns)
year_list

['RegionName',
 'RegionType',
 'State',
 'Metro',
 'StateCodeFIPS',
 'MunicipalCodeFIPS',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31']

In [13]:
interested_columns=['RegionName', 'RegionType','State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31',
       '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
       '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
       '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29','2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31',
       '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31']



values_df=home_values_df.loc[:, interested_columns]



values_df.head()

,RegionName,RegionType,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2017-01-31,2017-02-28,2017-03-31,2017-04-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,Los Angeles County,County,CA,Los Angeles-Long Beach-Anaheim,6,37,567167.0,570020.0,573344.0,575480.0,...,659773.0,664580.0,666444.0,667704.0,672758.0,680207.0,688570.0,695441.0,702046.0,708045.0
1,Cook County,County,IL,Chicago-Naperville-Elgin,17,31,235165.0,235814.0,237493.0,238830.0,...,253684.0,254076.0,254595.0,255333.0,256710.0,258486.0,261016.0,263754.0,266201.0,268475.0
2,Harris County,County,TX,Houston-The Woodlands-Sugar Land,48,201,177989.0,178366.0,178869.0,179782.0,...,199807.0,200940.0,201912.0,202637.0,203555.0,204670.0,206514.0,208295.0,210494.0,212658.0
3,Maricopa County,County,AZ,Phoenix-Mesa-Scottsdale,4,13,242028.0,243189.0,244568.0,245814.0,...,299209.0,302766.0,305996.0,309005.0,311980.0,315932.0,320662.0,325809.0,331342.0,337118.0
4,San Diego County,County,CA,San Diego-Carlsbad,6,73,528758.0,531624.0,536251.0,542424.0,...,615413.0,618539.0,622620.0,625616.0,629734.0,636244.0,645855.0,656702.0,667613.0,678665.0

In [14]:
values_clean_df=values_df.loc[:,'2017-01-31':'2020-12-31'].dropna(how="any")
values_clean_df.count()

2017-01-31    2808
2017-02-28    2808
2017-03-31    2808
2017-04-30    2808
2017-05-31    2808
2017-06-30    2808
2017-07-31    2808
2017-08-31    2808
2017-09-30    2808
2017-10-31    2808
2017-11-30    2808
2017-12-31    2808
2018-01-31    2808
2018-02-28    2808
2018-03-31    2808
2018-04-30    2808
2018-05-31    2808
2018-06-30    2808
2018-07-31    2808
2018-08-31    2808
2018-09-30    2808
2018-10-31    2808
2018-11-30    2808
2018-12-31    2808
2019-01-31    2808
2019-02-28    2808
2019-03-31    2808
2019-04-30    2808
2019-05-31    2808
2019-06-30    2808
2019-07-31    2808
2019-08-31    2808
2019-09-30    2808
2019-10-31    2808
2019-11-30    2808
2019-12-31    2808
2020-01-31    2808
2020-02-29    2808
2020-03-31    2808
2020-04-30    2808
2020-05-31    2808
2020-06-30    2808
2020-07-31    2808
2020-08-31    2808
2020-09-30    2808
2020-10-31    2808
2020-11-30    2808
2020-12-31    2808
dtype: int64

In [16]:
values_df.groupby(['RegionName', 'State']).count()

                        RegionType  Metro  StateCodeFIPS  MunicipalCodeFIPS  \
RegionName       State
Abbeville County SC              1      1              1                  1
Acadia Parish    LA              1      1              1                  1
Accomack County  VA              1      0              1                  1
Ada County       ID              1      1              1                  1
Adair County     IA              1      0              1                  1
...                            ...    ...            ...                ...
Yuba County      CA              1      1              1                  1
Yuma County      AZ              1      1              1                  1
                 CO              1      0              1                  1
Zapata County    TX              1      1              1                  1
Zavala County    TX              1      0              1                  1

                        2017-01-31  2017-02-28  2017-03-31  2017-04-30  \
RegionName       State
Abbeville County SC              1           1           1           1
Acadia Parish    LA              1           1           1           1
Accomack County  VA              1           1           1           1
Ada County       ID              1           1           1           1
Adair County     IA              1           1           1           1
...                            ...         ...         ...         ...
Yuba County      CA              1           1           1           1
Yuma County      AZ              1           1           1           1
                 CO              1           1           1           1
Zapata County    TX              1           1           1           1
Zavala County    TX              1           1           1           1

                        2017-05-31  2017-06-30  ...  2020-03-31  2020-04-30  \
RegionName       State                          ...
Abbeville County SC              1           1  ...           1           1
Acadia Parish    LA              1           1  ...           1           1
Accomack County  VA              1           1  ...           1           1
Ada County       ID              1           1  ...           1           1
Adair County     IA              1           1  ...           1           1
...                            ...         ...  ...         ...         ...
Yuba County      CA              1           1  ...           1           1
Yuma County      AZ              1           1  ...           1           1
                 CO              1           1  ...           1           1
Zapata County    TX              1           1  ...           1           1
Zavala County    TX              1           1  ...           1           1

                        2020-05-31  2020-06-30  2020-07-31  2020-08-31  \
RegionName       State
Abbeville County SC              1           1           1           1
Acadia Parish    LA              1           1           1           1
Accomack County  VA              1           1           1           1
Ada County       ID              1           1           1           1
Adair County     IA              1           1           1           1
...                            ...         ...         ...         ...
Yuba County      CA              1           1           1           1
Yuma County      AZ              1           1           1           1
                 CO              1           1           1           1
Zapata County    TX              1           1           1           1
Zavala County    TX              1           1           1           1

                        2020-09-30  2020-10-31  2020-11-30  2020-12-31
RegionName       State
Abbeville County SC              1           1           1           1
Acadia Parish    LA              1           1           1           1
Accomack County  VA              1           1           1           1
Ada County       ID              1           1           1           1
Adair County     IA              1           1           1           1
...                            ...         ...         ...         ...
Yuba County      CA              1           1           1           1
Yuma County      AZ              1           1           1           1
                 CO              1           1           1           1
Zapata County    TX              1           1           1           1
Zavala County    TX              1           1           1           1

[2859 rows x 52 columns]

In [21]:
values_df.to_csv("data/zhvi_datajason.csv", index=False, header=True)

In [19]:
format_dict = {col_name:"${:,.2f}" for col_name in values_df.select_dtypes(float).columns}

format_dict['StateCodeFIPS','MunicipalCodeFIPS'] = ''

values_df.head().style.format(format_dict)