In [157]:
import pandas as pd
import matplotlib.pyplot as plt

In [158]:
# Read raw data

file_path = "zillow_data/zhvi_data/County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv"
home_values_df=pd.read_csv(file_path)

home_values_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1996-01-31,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,177774.0,...,659773.0,664580.0,666444.0,667704.0,672758.0,680207.0,688570.0,695441.0,702046.0,708045.0
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,154331.0,...,253684.0,254076.0,254595.0,255333.0,256710.0,258486.0,261016.0,263754.0,266201.0,268475.0
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,99675.0,...,199807.0,200940.0,201912.0,202637.0,203555.0,204670.0,206514.0,208295.0,210494.0,212658.0
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,116247.0,...,299209.0,302766.0,305996.0,309005.0,311980.0,315932.0,320662.0,325809.0,331342.0,337118.0
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,180788.0,...,615413.0,618539.0,622620.0,625616.0,629734.0,636244.0,645855.0,656702.0,667613.0,678665.0

In [159]:
# Find Column names
year_list=list(home_values_df.columns)
year_list

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'Metro',
 'StateCodeFIPS',
 'MunicipalCodeFIPS',
 '1996-01-31',
 '1996-02-29',
 '1996-03-31',
 '1996-04-30',
 '1996-05-31',
 '1996-06-30',
 '1996-07-31',
 '1996-08-31',
 '1996-09-30',
 '1996-10-31',
 '1996-11-30',
 '1996-12-31',
 '1997-01-31',
 '1997-02-28',
 '1997-03-31',
 '1997-04-30',
 '1997-05-31',
 '1997-06-30',
 '1997-07-31',
 '1997-08-31',
 '1997-09-30',
 '1997-10-31',
 '1997-11-30',
 '1997-12-31',
 '1998-01-31',
 '1998-02-28',
 '1998-03-31',
 '1998-04-30',
 '1998-05-31',
 '1998-06-30',
 '1998-07-31',
 '1998-08-31',
 '1998-09-30',
 '1998-10-31',
 '1998-11-30',
 '1998-12-31',
 '1999-01-31',
 '1999-02-28',
 '1999-03-31',
 '1999-04-30',
 '1999-05-31',
 '1999-06-30',
 '1999-07-31',
 '1999-08-31',
 '1999-09-30',
 '1999-10-31',
 '1999-11-30',
 '1999-12-31',
 '2000-01-31',
 '2000-02-29',
 '2000-03-31',
 '2000-04-30',
 '2000-05-31',
 '2000-06-30',
 '2000-07-31',
 '2000-08-31',
 '2000-09-30',
 '2000-10-31',
 '2000-11-30',
 '2000-12-31',
 '2001-01-31',
 '2001-02-28',
 '2001-03-31',
 '2001-04-30',
 '2001-05-31',
 '2001-06-30',
 '2001-07-31',
 '2001-08-31',
 '2001-09-30',
 '2001-10-31',
 '2001-11-30',
 '2001-12-31',
 '2002-01-31',
 '2002-02-28',
 '2002-03-31',
 '2002-04-30',
 '2002-05-31',
 '2002-06-30',
 '2002-07-31',
 '2002-08-31',
 '2002-09-30',
 '2002-10-31',
 '2002-11-30',
 '2002-12-31',
 '2003-01-31',
 '2003-02-28',
 '2003-03-31',
 '2003-04-30',
 '2003-05-31',
 '2003-06-30',
 '2003-07-31',
 '2003-08-31',
 '2003-09-30',
 '2003-10-31',
 '2003-11-30',
 '2003-12-31',
 '2004-01-31',
 '2004-02-29',
 '2004-03-31',
 '2004-04-30',
 '2004-05-31',
 '2004-06-30',
 '2004-07-31',
 '2004-08-31',
 '2004-09-30',
 '2004-10-31',
 '2004-11-30',
 '2004-12-31',
 '2005-01-31',
 '2005-02-28',
 '2005-03-31',
 '2005-04-30',
 '2005-05-31',
 '2005-06-30',
 '2005-07-31',
 '2005-08-31',
 '2005-09-30',
 '2005-10-31',
 '2005-11-30',
 '2005-12-31',
 '2006-01-31',
 '2006-02-28',
 '2006-03-31',
 '2006-04-30',
 '2006-05-31',
 '2006-06-30',
 '2006-07-31',
 '2006-08-31',
 '2006-09-30',
 '2006-10-31',
 '2006-11-30',
 '2006-12-31',
 '2007-01-31',
 '2007-02-28',
 '2007-03-31',
 '2007-04-30',
 '2007-05-31',
 '2007-06-30',
 '2007-07-31',
 '2007-08-31',
 '2007-09-30',
 '2007-10-31',
 '2007-11-30',
 '2007-12-31',
 '2008-01-31',
 '2008-02-29',
 '2008-03-31',
 '2008-04-30',
 '2008-05-31',
 '2008-06-30',
 '2008-07-31',
 '2008-08-31',
 '2008-09-30',
 '2008-10-31',
 '2008-11-30',
 '2008-12-31',
 '2009-01-31',
 '2009-02-28',
 '2009-03-31',
 '2009-04-30',
 '2009-05-31',
 '2009-06-30',
 '2009-07-31',
 '2009-08-31',
 '2009-09-30',
 '2009-10-31',
 '2009-11-30',
 '2009-12-31',
 '2010-01-31',
 '2010-02-28',
 '2010-03-31',
 '2010-04-30',
 '2010-05-31',
 '2010-06-30',
 '2010-07-31',
 '2010-08-31',
 '2010-09-30',
 '2010-10-31',
 '2010-11-30',
 '2010-12-31',
 '2011-01-31',
 '2011-02-28',
 '2011-03-31',
 '2011-04-30',
 '2011-05-31',
 '2011-06-30',
 '2011-07-31',
 '2011-08-31',
 '2011-09-30',
 '2011-10-31',
 '2011-11-30',
 '2011-12-31',
 '2012-01-31',
 '2012-02-29',
 '2012-03-31',
 '2012-04-30',
 '2012-05-31',
 '2012-06-30',
 '2012-07-31',
 '2012-08-31',
 '2012-09-30',
 '2012-10-31',
 '2012-11-30',
 '2012-12-31',
 '2013-01-31',
 '2013-02-28',
 '2013-03-31',
 '2013-04-30',
 '2013-05-31',
 '2013-06-30',
 '2013-07-31',
 '2013-08-31',
 '2013-09-30',
 '2013-10-31',
 '2013-11-30',
 '2013-12-31',
 '2014-01-31',
 '2014-02-28',
 '2014-03-31',
 '2014-04-30',
 '2014-05-31',
 '2014-06-30',
 '2014-07-31',
 '2014-08-31',
 '2014-09-30',
 '2014-10-31',
 '2014-11-30',
 '2014-12-31',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31']

In [160]:
# Create new df with only interested columns (location info, and 2017-2020 data)
interested_columns=['RegionName', 'RegionType','State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31',
       '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
       '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
       '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29','2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31',
       '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31']

values_df=home_values_df.loc[:, interested_columns]

values_df.head()

,RegionName,RegionType,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2017-01-31,2017-02-28,2017-03-31,2017-04-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,Los Angeles County,County,CA,Los Angeles-Long Beach-Anaheim,6,37,567167.0,570020.0,573344.0,575480.0,...,659773.0,664580.0,666444.0,667704.0,672758.0,680207.0,688570.0,695441.0,702046.0,708045.0
1,Cook County,County,IL,Chicago-Naperville-Elgin,17,31,235165.0,235814.0,237493.0,238830.0,...,253684.0,254076.0,254595.0,255333.0,256710.0,258486.0,261016.0,263754.0,266201.0,268475.0
2,Harris County,County,TX,Houston-The Woodlands-Sugar Land,48,201,177989.0,178366.0,178869.0,179782.0,...,199807.0,200940.0,201912.0,202637.0,203555.0,204670.0,206514.0,208295.0,210494.0,212658.0
3,Maricopa County,County,AZ,Phoenix-Mesa-Scottsdale,4,13,242028.0,243189.0,244568.0,245814.0,...,299209.0,302766.0,305996.0,309005.0,311980.0,315932.0,320662.0,325809.0,331342.0,337118.0
4,San Diego County,County,CA,San Diego-Carlsbad,6,73,528758.0,531624.0,536251.0,542424.0,...,615413.0,618539.0,622620.0,625616.0,629734.0,636244.0,645855.0,656702.0,667613.0,678665.0

In [161]:
# Checking data for missing values
values_df.count()

RegionName           2859
RegionType           2859
State                2859
Metro                1795
StateCodeFIPS        2859
MunicipalCodeFIPS    2859
2017-01-31           2808
2017-02-28           2809
2017-03-31           2811
2017-04-30           2813
2017-05-31           2817
2017-06-30           2819
2017-07-31           2820
2017-08-31           2820
2017-09-30           2821
2017-10-31           2821
2017-11-30           2821
2017-12-31           2823
2018-01-31           2826
2018-02-28           2828
2018-03-31           2831
2018-04-30           2835
2018-05-31           2840
2018-06-30           2846
2018-07-31           2850
2018-08-31           2851
2018-09-30           2853
2018-10-31           2855
2018-11-30           2859
2018-12-31           2859
2019-01-31           2859
2019-02-28           2859
2019-03-31           2859
2019-04-30           2859
2019-05-31           2859
2019-06-30           2859
2019-07-31           2859
2019-08-31           2859
2019-09-30           2859
2019-10-31           2859
2019-11-30           2859
2019-12-31           2859
2020-01-31           2859
2020-02-29           2859
2020-03-31           2859
2020-04-30           2859
2020-05-31           2859
2020-06-30           2859
2020-07-31           2859
2020-08-31           2859
2020-09-30           2859
2020-10-31           2859
2020-11-30           2859
2020-12-31           2859
dtype: int64

In [162]:
# check how many null values are in the numerical columns 
values_clean_df=values_df.loc[:,'2017-01-31':'2020-12-31'].dropna(how="any")
values_clean_df.count()

2017-01-31    2808
2017-02-28    2808
2017-03-31    2808
2017-04-30    2808
2017-05-31    2808
2017-06-30    2808
2017-07-31    2808
2017-08-31    2808
2017-09-30    2808
2017-10-31    2808
2017-11-30    2808
2017-12-31    2808
2018-01-31    2808
2018-02-28    2808
2018-03-31    2808
2018-04-30    2808
2018-05-31    2808
2018-06-30    2808
2018-07-31    2808
2018-08-31    2808
2018-09-30    2808
2018-10-31    2808
2018-11-30    2808
2018-12-31    2808
2019-01-31    2808
2019-02-28    2808
2019-03-31    2808
2019-04-30    2808
2019-05-31    2808
2019-06-30    2808
2019-07-31    2808
2019-08-31    2808
2019-09-30    2808
2019-10-31    2808
2019-11-30    2808
2019-12-31    2808
2020-01-31    2808
2020-02-29    2808
2020-03-31    2808
2020-04-30    2808
2020-05-31    2808
2020-06-30    2808
2020-07-31    2808
2020-08-31    2808
2020-09-30    2808
2020-10-31    2808
2020-11-30    2808
2020-12-31    2808
dtype: int64

In [163]:
# Looking at region name for duplicates
values_df.groupby('RegionName').count()

,RegionType,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
RegionName,,,,,,,,,,,,,,,,,,,,,
Abbeville County,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Acadia Parish,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Accomack County,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Ada County,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Adair County,4,4,1,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young County,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Yuba County,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Yuma County,2,2,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Zapata County,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Zavala County,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [164]:
#duplicate values come from same regionname different states 
values_df[values_df['RegionName']=="Yuma County"]

,RegionName,RegionType,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2017-01-31,2017-02-28,2017-03-31,2017-04-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
318,Yuma County,County,AZ,Yuma,4,27,143222.0,145286.0,146215.0,145795.0,...,168351.0,168634.0,169960.0,172199.0,174015.0,176073.0,178412.0,181267.0,184147.0,186858.0
2409,Yuma County,County,CO,NaN,8,125,147256.0,147712.0,148180.0,149070.0,...,173034.0,173326.0,173531.0,173810.0,174154.0,174520.0,174959.0,175378.0,176687.0,177981.0

In [165]:
# Check for duplicates by regionname and state, row number indicates no groups larger than 1
values_df.groupby(['RegionName', 'State']).count()

                        RegionType  Metro  StateCodeFIPS  MunicipalCodeFIPS  \
RegionName       State
Abbeville County SC              1      1              1                  1
Acadia Parish    LA              1      1              1                  1
Accomack County  VA              1      0              1                  1
Ada County       ID              1      1              1                  1
Adair County     IA              1      0              1                  1
...                            ...    ...            ...                ...
Yuba County      CA              1      1              1                  1
Yuma County      AZ              1      1              1                  1
                 CO              1      0              1                  1
Zapata County    TX              1      1              1                  1
Zavala County    TX              1      0              1                  1

                        2017-01-31  2017-02-28  2017-03-31  2017-04-30  \
RegionName       State
Abbeville County SC              1           1           1           1
Acadia Parish    LA              1           1           1           1
Accomack County  VA              1           1           1           1
Ada County       ID              1           1           1           1
Adair County     IA              1           1           1           1
...                            ...         ...         ...         ...
Yuba County      CA              1           1           1           1
Yuma County      AZ              1           1           1           1
                 CO              1           1           1           1
Zapata County    TX              1           1           1           1
Zavala County    TX              1           1           1           1

                        2017-05-31  2017-06-30  ...  2020-03-31  2020-04-30  \
RegionName       State                          ...
Abbeville County SC              1           1  ...           1           1
Acadia Parish    LA              1           1  ...           1           1
Accomack County  VA              1           1  ...           1           1
Ada County       ID              1           1  ...           1           1
Adair County     IA              1           1  ...           1           1
...                            ...         ...  ...         ...         ...
Yuba County      CA              1           1  ...           1           1
Yuma County      AZ              1           1  ...           1           1
                 CO              1           1  ...           1           1
Zapata County    TX              1           1  ...           1           1
Zavala County    TX              1           1  ...           1           1

                        2020-05-31  2020-06-30  2020-07-31  2020-08-31  \
RegionName       State
Abbeville County SC              1           1           1           1
Acadia Parish    LA              1           1           1           1
Accomack County  VA              1           1           1           1
Ada County       ID              1           1           1           1
Adair County     IA              1           1           1           1
...                            ...         ...         ...         ...
Yuba County      CA              1           1           1           1
Yuma County      AZ              1           1           1           1
                 CO              1           1           1           1
Zapata County    TX              1           1           1           1
Zavala County    TX              1           1           1           1

                        2020-09-30  2020-10-31  2020-11-30  2020-12-31
RegionName       State
Abbeville County SC              1           1           1           1
Acadia Parish    LA              1           1           1           1
Accomack County  VA              1           1           1           1
Ada County       ID              1           1           1           1
Adair County     IA              1           1           1           1
...                            ...         ...         ...         ...
Yuba County      CA              1           1           1           1
Yuma County      AZ              1           1           1           1
                 CO              1           1           1           1
Zapata County    TX              1           1           1           1
Zavala County    TX              1           1           1           1

[2859 rows x 52 columns]

In [166]:
# export as csv 
values_df.to_csv("data/zhvi_data.csv", index=False, header=True)

In [167]:
# formatting money amounts for easy reading in pandas

format_dict = {col_name:"${:,.2f}" for col_name in values_df.select_dtypes(float).columns}

format_dict['StateCodeFIPS','MunicipalCodeFIPS'] = ''

values_df.head().style.format(format_dict)